.body{
    background-color: rgba(142, 7, 93, 0.597);
}

.central-board{
    display: flex;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 1496px;
    height: 680px;
}

.left-field, .right-field{
    border-radius: 10px;
    width: 748px;
    height: 680px;
}

.left-field{
    background-color: whitesmoke;
}

.right-field{
    background-color: rgba(245, 245, 245, 0.886);
}

.player-one, .player-two{
    background-color: rgba(187, 8, 121, 0.732);
    width: 260px;
    height: 80px;
    display: flex;
    position: fixed;
    top: 80px;
    left: 249px;
    font-size: 3rem;
    color:white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.player-one{
    left: 249px;
}

.player-two{
    left: 1015px;
}

.total-score-one, .total-score-two{
    color:rgba(255, 104, 199, 0.597);
    font-size: 6rem;
    width: 150px;
    height: 150px;
    display: flex;
    position: fixed;
    top: 180px;
}

.total-score-one{
    left: 325px;
}

.total-score-two{
    right: 300px;
}

.current-score-one, .current-score-two{
    background-color: rgba(255, 104, 199, 0.597);
    color: white;
    font-size: 4rem;
    width: 310px;
    height: 200px;
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 80px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.current-score-one{
    left: 230px;
}

.current-score-two{
    right: 230px;
}

.round{
    justify-content: center;
}

.new-game-btn{

}

.dice{

}

.toss-btn{

}

.add-score-btn{

}

.btn-1{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(350%) translateX(-50%);
    width: 140px;
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn-2{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(1800%) translateX(-50%);
    width: 140px;
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn-3{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(2000%) translateX(-50%);
    width: 140px;
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}